.nav {
  padding: 10px;
  text-align: center;
  background: #373737 0% 0% no-repeat padding-box;
  opacity: 1;
}
.title{
  background: transparent;
  color: var(--unnamed-color-ffffff);
text-align: center;
font: normal normal bold 28px/37px Roboto !important;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}
.content {
  text-align: center;
  font: normal normal bold 28px/37px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.container {
  max-width: 1320px;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

main {
  padding: 10px;
  height: 612px;
  background: #242424 0% 0% no-repeat padding-box;
  font: normal normal bold 16px/21px Roboto;
  color: #FFFFFF;
  opacity: 1;
}

h2 {
  color: var(--unnamed-color-ffffff);
  text-align: center;

}

.col {
  flex: 1 0 0%;
}


.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.btn {
  padding: 4px;
  margin-left: 1rem;
  height: 40px;
  color: #FFFFFF;

  background: var(--unnamed-color-373737) 0% 0% no-repeat padding-box;
  background: #373737 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;

}
.mt-5{
  margin-top: 2rem;
}
label{
  color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 14px/19px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.text-left{
  text-align: left;
}
