<div class="">
  <nav class="nav">
    <div class="content">
      <h1 class="title">ECRAN À RÉALISER :</h1>
    </div>

  </nav>

  <main class="text-center">

      <p>Test technique WEB-ATRIO réalisé par Slimani Oussama réalisé le {{formattedDate}}</p>
    <div class="container text-left">
      <app-progress-bar [progress]="initProgress" [title]="'Initialisation du test technique'"></app-progress-bar>

      <app-progress-bar [progress]="devProgress" [title]="'Avancement de la phase de développement'"></app-progress-bar>

    </div>

      <div class="text-center  mt-5">
        <div class="d-flex justify-content-center">
          <button class="btn" (click)="reset()">Remettre à zéro les compteurs</button>
          <button class="btn" (click)="addProgress(5)">Ajouter 5%</button>
          <button class="btn" (click)="addProgress(10)">Ajouter 10%</button>
        </div>
      </div>

  </main>
</div>
