.mt-5{
  margin-top: 2rem;
}
label{
  color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 14px/19px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

progress{
  top: 343px;
  left: 324px;
  width: 80%;
  height: 15px;
  /* UI Properties */
  opacity: 1;
}

// progress::-webkit-progress-value { background: red; }

.green::-webkit-progress-value { background: #30DB63; }
.bleugreen::-webkit-progress-value { background: #60E8B6; }
.bleu::-webkit-progress-value { background: #60ADE8; }
.violet::-webkit-progress-value { background: #7160E8; }


