<div class=" mt-5">
  <label>{{title}}</label><br>
  {{progress}} %  <progress [value]="progress" max="100"
  [ngClass]="{
    'green': progress >= 75 && progress  <= 100,
    'bleugreen': progress >= 50 && progress  <= 75,
    'bleu': progress >= 25 && progress  <= 50,
    'violet': progress >= 0 && progress  <= 25}">
</progress>

</div>
