/* You can add global styles to this file, and also import other style files */
.body{
  background: var(--unnamed-color-373737) 0% 0% no-repeat padding-box;
background: #373737 0% 0% no-repeat padding-box;
opacity: 1;
}


*{
  background: var(--unnamed-color-242424) 0% 0% no-repeat padding-box;
  background: #242424 0% 0% no-repeat padding-box;
}
